.bodyscrollhider
{
	overflow-x:hidden;
	background-color:whitesmoke;
}



div.scroll {
    
    background-color: white;
/*
	width: 700px;
 */   
	height: 450px;

/*    overflow: scroll;*/
	
/*	margin-left: 120px;*/
}


.homeposition
{
    padding-left: 70px;
}

.iconposition
{
    margin-top: -8px;
}

.dashiconpos
{
    position: absolute;
    margin-top: 2px;
    margin-left: -10px;
}

.textindent
{
    margin-top:-65px;
    margin-left:35px;
    font-size: 26px;
}

#textindentmain
{
    margin-top: -64px;
    margin-left: 35px;
    font-size: 26px;
}
.sgcontent
{
    display: none;
}

.modal-header
{
    color: #fff;
    background-color: #01579b;
}


.mainpos
{
    margin-top: -63px;
    margin-left: 30px;
	font-size: 3rem;
}

.colortitle
{
	color: black;
}


#buttonhover:hover
{
	font-size: 25px;
    font-weight: bold;


}

.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #03a9f4 ;
    }

/* label color */
   .input-field label {
     color: #64b5f6;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #64b5f6;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #64b5f6;
     box-shadow: 0 1px 0 0 #64b5f6;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #64b5f6;
     box-shadow: 0 1px 0 0 #64b5f6;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #64b5f6;
   }

.sidenavhover
{
	overflow:hidden;
}

.sidenavhover:hover
{
	overflow:scroll;
}


/*
#dataTablenoti tbody tr 
{
min-height: -25px;
}
*/
/*
.selectheight .selection{
   width:150px;
   border:1px solid #ccc
 }
*/







