.bodyscrollhider
{
	overflow:hidden;
	background-color:whitesmoke;
}



div.scroll {
    
    background-color: white;
/*
	width: 700px;
 */   
	height: 450px;

/*    overflow: scroll;*/
	
/*	margin-left: 120px;*/
}


.homeposition
{
    padding-left: 70px;
}

.iconposition
{
    margin-top: -10px;
}

.dashiconpos
{
    position: absolute;
    margin-top: 2px;
    margin-left: -10px;
}

.textindent
{
    margin-top:-65px;
    margin-left:35px;
    font-size: 26px;
}

#textindentmain
{
    margin-top: -64px;
    margin-left: 35px;
    font-size: 26px;
}
.sgcontent
{
    display: none;
}

.modal-header
{
    color: #fff;
    background-color: #01579b;
}


.mainpos
{
    margin-top: -63px;
    margin-left: 30px;
	font-size: 3rem;
}

.colortitle
{
	color: black;
}


#buttonhover:hover
{
	font-size: 25px;
    font-weight: bold;


}

.waves-effect.waves-blue .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: #03a9f4 ;
    }







